.header {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    
    margin: 93px 24px;
    max-height: 105px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "menu menu logo address address";
    align-items: center;
}

.header__menu {
    grid-area: menu;
}
/*левый список*/
.header__links-list {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    list-style: circle;
}

.header__link {
    text-underline-offset: 4px;
}

.header__links-list-item.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link.header__link_active {
    text-decoration: none;
}
/*Лого*/
.header__logo {
    grid-area: logo;
}

.header__logo-image {
    display: block;
    max-height: 105px;
}
/*Контакты*/
.address {
    font-style: normal;
    grid-area: address;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.address.header__address {
    justify-self: end;
    margin-right: 60px;
}
/*Фон*/
.cover {
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(0 0 0/0.6);
    z-index: 1;
    inset: 0;
}
/*Заголовок*/
.cover__title {
    padding: 165px 50px 135px;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    color: rgba(255, 255, 255, 1)
}

.aligned-text {
    display: block;
}

.no-letter-spacing {
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.aligned-text.aligned-text_center {
    text-align: center;
}

.aligned-text.aligned-text_right {
    text-align: end;
    margin-right: -60px;
}

/*Подзаголовок и кнопка*/
.cover__description {
    margin: 0 50px 51px 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    word-spacing: 22px;
}

.bet-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 31px;
    border: 1px solid rgba(255, 255, 255, 1);
}

/*Лоты*/
.lots {
    margin: 179px 24px 179px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 27px 40px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
} /*перенос добавить*/

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card {
    height: 100%;
    padding: 51px 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.card__title {
    text-decoration: underline solid rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.5px;
    color: rgba(0, 0, 0, 1);
    margin-left: 40px;
    text-underline-offset: 5px;
}

/*3 блок*/
.about {
    margin: 0 24px 170px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 2fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas:
    "logo title"
    ". text";
    gap: 25px;
}

.about__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title { /*заголовок*/
    grid-area: title;
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: rgba(0, 0, 0, 1);

}

.about__text { /*текст*/
    grid-area: text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

/*Конец*/
.footer {
    margin: 0 50px 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "address menu social";
}


.footer__menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;

}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__social-list {
    list-style-type: none;
    grid-area: social;
    display: flex;
    justify-content: end;
    
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 48px;
}